h1 {
    font-size: 300%;
    margin-top: 10%;
}

input {
    margin-top: -5%;
    margin-left: 168%;
    width: 260%;
}

label{
    font-size: 150%;
    margin-left: 168%;
    width: 200%;
}

a {
    color: #004e98;
}

button:hover {
    background-color: #3a6ea5;
}

.form {
    margin-top: 10%;
}

.login {
    border: 5px black;
    border-style: solid;
    position: relative;
    top: 50px;
    left: 600px;
    padding-top: 10px;
    padding-left: 10px;
    width: 600px;
    height: 500px;
    background-color: #ff6700;
    color: white;
}

.login-button {
    position: relative;
    border: none;
    background-color: #004e98;
    font-size: 120%;
    color: aliceblue;
    padding: 10px;
    width: fit-content;
    top: 20px;
    margin-left: 41%;
}

.goto-signup {
    font-size: 120%;
    margin-top: 7%;
    margin-left: 40%;
}