<div class="table-list">
    <h1 class="text-center">ตรวจสอบการติดต่อ</h1>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th scope="col">ลำดับ</th>
                <th scope="col">ชื่อ-นามสกุล</th>
                <th scope="col">เบอร์โทรศัพท์</th>
                <th scope="col">อีเมล</th>
                <th scope="col">ตัวเลือก</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of Allcontacts; let i = index">
                <td scope="row">{{ i + 1 }}</td>
                <td>{{ contact.contact_member_name }}</td>
                <td>{{ contact.contact_member_email }}</td>
                <td>{{ contact.contact_member_tel }}</td>
                <td >
                    <button id="cancel-button" class="btn btn-sm btn-primary" routerLink="/contact-detail-page/{{ contact._id }}">ดูรายละเอียด</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
