<div class="confirm-page">
    <h1>รายละเอียดการจอง</h1>
    <div class="nav">
        <div class="form">
            <form [formGroup]="detailResForm">
                <div class="form-group">
                    <label for="passenger">ชื่อผู้จอง</label>
                    <input Disabled type="text" class="form-control" formControlName="passenger" required>
                </div>
                <div class="form-group">
                    <label for="vanline">สายรถตู้</label>
                    <input Disabled type="text" class="form-control" formControlName="vanline" required>
                </div>
                <div class="form-group">
                    <label for="pickup">จุดขึ้นรถ</label>
                    <input Disabled type="text" class="form-control" formControlName="pickup" required>
                </div>
                <div class="form-group">
                    <label for="destination">จุดลงรถ</label>
                    <input Disabled type="text" class="form-control" formControlName="destination" required>
                </div>
                <div class="form-group">
                    <label for="date">วันที่</label>
                    <input Disabled type="text" class="form-control" formControlName="date" required>
                </div>
                <div class="form-group">
                    <label for="time">เวลา</label>
                    <input Disabled type="text" class="form-control" formControlName="time" required>
                </div>
                <div class="form-group">
                    <label for="amount">จำนวนผู้โดยสาร</label>
                    <input Disabled id="amountInput" type="text" class="form-control" formControlName="amount" required>
                    <div class="amount">คน</div>
                </div>
                <div class="price">{{ price }}</div>
                <div>
                    <button *ngIf="checkStatus == 'รอยืนยันการชำระเงิน'" class="confirm-button" type="submit" (click)="onUpdate()">ยืนยันการชำระเงิน</button>
                    <button *ngIf="checkStatus == 'รอยืนยันการชำระเงิน'" class="cancel-button" type="submit" (click)="onCancel()">ยกเลิกการชำระเงิน</button>
                </div>
            </form>
        </div>
    </div>
</div>

<h2>หลักฐานการชำระเงิน</h2>
<div class="paid-info">
    <img [src]="imageSlipPath" alt="">
</div>
