<div class="homepage">
    <h1>จองตั๋วรถตู้</h1>
    <div class="nav">
        <div class="form">
            <form [formGroup]="reservationForm">
                <div class="form-group">
                    <label for="vanline">สายรถตู้</label>
                    <select class="form-select" aria-label="Default select example" formControlName="vanline" required>
                        <option *ngFor="let vanl of vanlineList" [value]="vanl">{{ vanl }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pickup">จุดขึ้นรถ</label>
                    <select class="form-select" aria-label="Default select example" formControlName="pickup" [ngSwitch]="getPickup()" required>
                        <option *ngFor="let vanP of vanPickup" [value]="vanP">{{ vanP }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="destination">จุดลงรถ</label>
                    <select class="form-select" aria-label="Default select example" formControlName="destination" [ngSwitch]="getDestination()" required>
                        <option *ngFor="let vanD of vanDestination" [value]="vanD">{{ vanD }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="date">วันที่</label>
                    <input id="dateId" type="date" class="form-control" formControlName="date" required>
                </div>
                <div class="form-group">
                    <label for="time">เวลา</label>
                    <select class="form-select" aria-label="Default select example" id="timeId" formControlName="time" [ngSwitch]="getVanTime()" required>
                        <option *ngFor="let time of vanTime" [value]="time">{{ time }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="amount">จำนวนผู้โดยสาร</label>
                    <input id="amountInput" type="number" min="1" max="13" class="form-control" formControlName="amount" required>
                    <div class="amount">คน</div>
                </div>
                <div>
                    <button class="book" (click)="onSubmit()">จอง</button>
                </div>
                <div>
                    <button class="reset" (click)="onResetForm()">ล้างข้อมูล</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="image-van">
    <img [src]="imageVanPath" alt="">
</div>