img {
    border: 10px #ff6700;
    border-style: solid;
    border-radius: 30px;
    margin-left: 90px;
    margin-top: -800px;
    width: 700px;
    height: 700px;
}

h1 {
    position: relative;
    font-size: 250%;
    width: fit-content;
    margin-left: 180px;
    top: 30px;
}

label {
    position: relative;
    top: 30px;
    margin-left: -20px;
    font-size: 150%;
    margin-top: 10px;
}

button:hover {
    background-color: #3a6ea5;
}

input {
    margin-top: -20px;
    width: 300px;
    padding: 10px;
    position: relative;
    top: 10px;
    right: -120px;
}

textarea {
    margin-top: 40px;
    margin-left: -20px;
    width: 530px;
    height: 280px;
}

.form {
    margin-left: 50px;
    padding-top: 5%;
}

.contact {
    border: 5px black;
    border-style: solid;
    position: relative;
    color: aliceblue;
    background-color: #ff6700;
    width: 600px;
    height: 760px;
    margin-left: 900px;
    margin-top: 50px;
}

.sent-text{
    border: none;
    background-color: #004e98;
    color: aliceblue;
    width: 150px;
    position: relative;
    font-size: 130%;
    padding: 10px;
    top: 15px;
    right: -180px;
}