nav {
    background-color: #004e98;
    height: 100px;
}

li, a {
    font-weight: 500;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
}

li {
    list-style: none;
}

.logo {
    cursor: pointer;
    margin: 30px 20px;
}

.active {
    background-color: #3a6ea5;
}

.login {
    margin-top: 5px;
    margin-left: 950px;
}

.homepage {
    margin-top: 58px;
    margin-left: 500px;
}