<!-- <nav class="nav">
    <a class="logo">VanB</a>
    <h1 *ngIf="UserNowLogin.member_username != null">สวัสดี {{UserNowLogin.member_firstname}}</h1>
    <div>
        <ul class="nav" >
            <div class="homepage">
                <a routerLinkActive="active" routerLink="/homepage">หน้าแรก</a>
            </div> 
            <div *ngIf="UserNowLogin.member_username == null" class="login">
                <a routerLinkActive="active" routerLink="/login-page">สมัครสมาชิก/เข้าสู้ระบบ</a>
            </div> 
            <button *ngIf="UserNowLogin.member_username != null" class="logout-button" (click)="logout()">ออกจากระบบ</button>
        </ul>
    </div>
</nav> -->

<!-- <router-outlet></router-outlet> -->


<body>
    <nav>
        <h1 style="margin: 20px; padding-top: 20px; display:inline;">VanB</h1>
        <button *ngIf="UserNowLogin.member_username != null" class="logout-button" (click)="logout()">ออกจากระบบ</button>
        <div class="float-right"><h4 *ngIf="UserNowLogin.member_username != null" style="margin: 20px; padding-top: 20px; display:inline; color:whitesmoke">สวัสดี {{UserNowLogin.member_firstname}}</h4></div>
        <div class="float-right" *ngIf="UserNowLogin.member_username == null"><h4 style="margin: 20px; padding-top: 20px; display:inline; color:whitesmoke"><a routerLinkActive="active" routerLink="/login-page">สมัครสมาชิก/เข้าสู่ระบบ</a></h4></div>
        <br>
        <ul style="float:right">
            <li><a routerLinkActive="active" routerLink="/homepage">หน้าแรก</a></li>
            <li><a href="#news">วิธีจองและชำระเงิน</a></li>
            <li><a href="#contact">ตรวจสอบการจอง</a></li>
            <li><a href="#about">ติดต่อเรา</a></li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</body>