<!-- <nav class="nav">
    <a class="logo">VanB</a>
    <h1 *ngIf="UserNowLogin.member_username != null">สวัสดี {{UserNowLogin.member_firstname}}</h1>
    <div>
        <ul class="nav" >
            <div class="homepage">
                <a routerLinkActive="active" routerLink="/homepage">หน้าแรก</a>
            </div> 
            <div *ngIf="UserNowLogin.member_username == null" class="login">
                <a routerLinkActive="active" routerLink="/login-page">สมัครสมาชิก/เข้าสู้ระบบ</a>
            </div> 
            <button *ngIf="UserNowLogin.member_username != null" class="logout-button" (click)="logout()">ออกจากระบบ</button>
        </ul>
    </div>
</nav> -->

<!-- <router-outlet></router-outlet> -->


<body>
    <nav>
        <h1 style="margin: 20px; padding-top: 20px; display:inline;">VanB</h1>
        <button *ngIf="UserNowLogin.type != null" class="logout-button" (click)="logout()">ออกจากระบบ</button>
        <div id="hello-bar" class="float-right"><h2 *ngIf="UserNowLogin.member_username != null && UserNowLogin.type == 'user'" style="margin: 20px; padding-top: 20px; display:inline; color:whitesmoke">สวัสดี {{UserNowLogin.member_firstname}}</h2></div>
        <div id="hello-bar" class="float-right"><h2 *ngIf="UserNowLogin.admin_username != null && UserNowLogin.type == 'admin'" style="margin: 20px; padding-top: 20px; display:inline; color:whitesmoke">สวัสดี Admin</h2></div>
        <div class="float-right" *ngIf="UserNowLogin.type == null"><h4 style="margin: 20px; padding-top: 20px; display:inline; color:whitesmoke"><a id="login-register" routerLinkActive="active" routerLink="/login-page">ลงชื่อเข้าใช้/สร้างบัญชี</a></h4></div>
        <div *ngIf="router.url === '/signup-page'" id="active-register"></div>
        <br>
        <ul style="float:right">
            <li><a *ngIf="UserNowLogin.type == 'user' || UserNowLogin.type == null" routerLinkActive="active" routerLink="/homepage">หน้าแรก</a></li>
            <li><a *ngIf="UserNowLogin.type == 'admin'" routerLinkActive="active" routerLink="/member-page">สมาชิก</a></li>
            <li><a *ngIf="UserNowLogin.type == 'admin'" routerLinkActive="active" routerLink="/reservation-admin-page">การจอง</a></li>
            <li><a *ngIf="UserNowLogin.type == 'user' || UserNowLogin.type == null" routerLinkActive="active" routerLink="/help-page">วิธีจองและชำระเงิน</a></li>
            <li><a *ngIf="UserNowLogin.type == 'user' || UserNowLogin.type == null" routerLinkActive="active" routerLink="/reservation-member-page">ตรวจสอบการจอง</a></li>
            <li><a *ngIf="UserNowLogin.type == 'user' || UserNowLogin.type == null" routerLinkActive="active" routerLink="/contact-page">ติดต่อเรา</a></li>
            <li><a *ngIf="UserNowLogin.type == 'admin'" routerLinkActive="active" routerLink="/reservation-amount-page">จำนวนการจอง</a></li>
            <li><a *ngIf="UserNowLogin.type == 'admin'" routerLinkActive="active" routerLink="/contact-list-page">การติดต่อ</a></li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</body>